In [1]:
!pip install beautifulsoup4
!pip install lxml
!pip install html5lib
!pip install requests

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (1.9.5)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.2)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.13.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.9.11)

In [2]:
import pandas as pd
import numpy as np

In [3]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
print(table[0])

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [4]:
data = pd.DataFrame(table[0])
data.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [5]:
df = data.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
df = df.sample(frac=1).reset_index()
df['Neighbourhood'] = df['Neighbourhood'].str.join(', ')
df

,Postcode,Borough,Neighbourhood
0,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
1,M4A,North York,Victoria Village
2,M1N,Scarborough,"Birch Cliff, Cliffside West"
3,M4Y,Downtown Toronto,Church and Wellesley
4,M4H,East York,Thorncliffe Park
...,...,...,...
175,M1R,Scarborough,"Maryvale, Wexford"
176,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter"
177,M2H,North York,Hillcrest Village
178,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ..."
179,M4X,Downtown Toronto,"Cabbagetown, St. James Town"

In [6]:
df=df[df['Borough']!='Not assigned']
df[df['Neighbourhood']=='Not assigned']=df['Borough']
df

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3503: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3484: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

,Postcode,Borough,Neighbourhood
0,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
1,M4A,North York,Victoria Village
2,M1N,Scarborough,"Birch Cliff, Cliffside West"
3,M4Y,Downtown Toronto,Church and Wellesley
4,M4H,East York,Thorncliffe Park
...,...,...,...
175,M1R,Scarborough,"Maryvale, Wexford"
176,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter"
177,M2H,North York,Hillcrest Village
178,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ..."
179,M4X,Downtown Toronto,"Cabbagetown, St. James Town"

In [7]:
df.shape

(103, 3)

In [12]:
import sys
!{sys.executable} -m pip install geocoder

print('Packages installed')

Requirement already satisfied: geocoder in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: ratelim in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.22.0)
Requirement already satisfied: future in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.13.0)
Requirement already satisfied: click in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2019.9.11)
Packages installed

In [20]:
coord = pd.read_csv("https://cocl.us/Geospatial_data")
coord.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [21]:
coord.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [24]:
coord.rename(columns = {'Postal Code':'Postcode'},inplace=True)
coord.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

In [30]:
total = data.merge(coord,on='Postcode',how='left')
total

    Postcode           Borough          Neighbourhood   Latitude  Longitude
0        M1A      Not assigned           Not assigned        NaN        NaN
1        M2A      Not assigned           Not assigned        NaN        NaN
2        M3A        North York              Parkwoods  43.753259 -79.329656
3        M4A        North York       Victoria Village  43.725882 -79.315572
4        M5A  Downtown Toronto           Harbourfront  43.654260 -79.360636
..       ...               ...                    ...        ...        ...
282      M8Z         Etobicoke              Mimico NW  43.628841 -79.520999
283      M8Z         Etobicoke     The Queensway West  43.628841 -79.520999
284      M8Z         Etobicoke  Royal York South West  43.628841 -79.520999
285      M8Z         Etobicoke         South of Bloor  43.628841 -79.520999
286      M9Z      Not assigned           Not assigned        NaN        NaN

[287 rows x 5 columns]